<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="navbar">
        <div class="mt-7 flex">

            <div class="basis-3/5">
                <div class="ml-48 text-4xl font-bold my-auto">
                    wbs
                </div>
            </div>

            <div class="basis-2/5 flex justify-evenly">
                <div class="text-3xl font-semibold my-auto">
                    Home
                </div>
                <div class="my-auto">
                    <div class="p-1 rounded-xl bg-gradient-to-r from-indigo-400 to-teal-400 w-fit overflow-hidden">
                        <button class="text-2xl px-16 py-1 rounded-md bg-white w-fit">
                            <h1 class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-400 to-teal-400">
                                Login
                            </h1>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container flex justify-evenly mx-auto mt-48 px-36">
        <div class="basis-3/5">
            <h1 class="font-bold text-8xl">
                wbs
            </h1>
            <h1 class="font-bold text-8xl">
                for admin
            </h1>

            <h1 class="text-3xl mt-12">
                website khusus admin wbs
            </h1>

            <button class="mt-12 text-2xl text-white bg-gradient-to-br from-indigo-400 to-teal-400 rounded-xl px-16 py-2">
                Login
            </button>

        </div>

        <div class="basis-2/5">
            <img src="https://picsum.photos/300/400" alt="">
        </div>
    </div>

    
</body>
</html>